* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
/* html {
  height: 100%;
}
body {
  height: 100%;
} */

body {
  /* color: #eee; */
  /* background-color: #111; */
}
button {
  /* background-color:  */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  max-width: 440px;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
}

.logo {
  width: 200px;
  height: 200px;
}

.heading {
  width: 100%;
  margin-top: 20px;
}

.sub-section {
  margin-top: 20px;
}